body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin: 20px;
    font-size:1.3em;
  }
  .historyText{
    font-size:15px;
    font-family:'Arial';
  }

  .historyItem{
    margin:5px;
    text-decoration:none;
    border:none;
    background-color:#fefefe;
    padding:5px;
    box-shadow:2px 2px 2px grey;
  }

  .welcome{
    padding:20px;
    font-size:50px;;
    font-weight:bold;
    font-family:'Arial';
    box-shadow: 5px 5px 5px grey;
    background-color:#03a6ef;
  }
  
  .square {
    background: #f1f1f1;
    border: 3px solid #03a6ef;
    box-shadow:5px 5px 5px grey, 5px 5px 5px grey;
    color:#232526;
    float: left;
    font-size: 50px;
    font-weight: bold;
    line-height: 34px;
    height: 100px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 100px;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }
  